/* formatting for composite image */
#compositePNG{
    /* float: left; */
    float: top;
    margin: 0 0 0 0;
  }



.wrapper {
    
    width: 20%;
    height: 100%;
    /*border: 1px solid red;*/
}

.box {
    margin: left;
    
    width: 20%;
    height: 100%;
    /*background: green;*/
    background: clear;
}