---
import DefaultLayout from '../layouts/DefaultLayout.astro'
---


<!--
	Page for my resume!! Woo!

	@Author: Cole Marino
	@Author: cole1.marino@gmail.com
-->



<!DOCTYPE html>
<DefaultLayout title={"Résumé"}>

    <main>

		
        <!-- header! -->
		<head>
			<h1  style= "padding-top: 1.5%; text-shadow: 5px 5px black; color: white; text-align:center; font-size:600%; font-family:verdana;">
				<div>
					<b>
						My Résumé 📄
					</b>
				</div>
				

			</h1>
		</head>

        <!-- main -->
        <div class="justify-center mx-auto max-w-5xl px-6 lg:px-8 my-8" style="">
			<div class="flex flex-row justify-between">
				<div>
					<h2 class="font-bold text-5xl text-blue-600">
						Nicola Marino
					</h2>
					<hr class="w-[100%] my-2 border-2 rounded-md border-blue-600" />
					<p class="font-normal text-md text-black-900">
						Hartford County, CT | <a href="mailto: cole1.marino@gmail.com">cole1.marino@gmail.com</a> | 
						<a href="Tel: 123-456-7890">860-930-7049</a> <br />
						<a href="https://www.linkedin.com/in/nicola-vittorio-marino/">LinkedIn: nicola-vittorio-marino</a><br />
						<a href="https://github.com/cole-marino">GitHub: cole-marino</a><br />
						<a href="/">nicolamarino.net</a>
					</p>

					<!-- education -->
					<h2 class="font-bold text-3xl text-blue-600 mb-2 mt-2">Education</h2>
					<hr class="w-[100%] my-2 border-2 rounded-md border-blue-600" />
					<div>
						<h3 class="font-semibold text-xl text-gray-700">
							Rochester Institute of Technology,
							<span class="text-lg text-black-900 font-normal">
							Rochester, NY
							<span class="text-right text-md text-gray-700 font-normal ml-64 mb-1">
								August 2021 - May 2026 (Expected)
							</span>
							</span>
						</h3>
						<p class="text-lg text-gray-700 font-normal">
							B.S. of Computer Science <br />
							<p class="text-sm text-gray-700 font-normal">
								Courses: Introduction to Software Engineering, Principles of Data Management, Linear Algebra, The Mechanics of Programming, Probability and Statistics, Discrete Math for Computing, Computer Science 2, Computer Science 1.
							</p>
						</p>
					</div>

					<!-- skills -->
					<h2 class="font-bold text-3xl text-blue-600 mb-2 mt-2">Skills
					</h2>
					<hr class="w-[100%] my-2 border-2 rounded-md border-blue-600" />
					<div>
						<p class="text-lg text-gray-700 font-semibold">
							Programming Languages: 
							<span class="text-md text-gray-700 font-normal italic">
								Java, Python, C, C++, SQL, Bash, HTML, CSS, JavaScript, TypeScript, MDX, OCaml
							</span>
						</p>
						<p class="text-lg text-gray-700 font-semibold">
							Software: 
							<span class="text-md text-gray-700 font-normal italic">
								Visual Studio Code, Eclipse, Intellij, MobaXTerm, Git Version Control
							</span>
						</p>
						<p class="text-lg text-gray-700 font-semibold">
							Operating Systems: 
							<span class="text-md text-gray-700 font-normal italic">
								MS Windows, Linux (Ubuntu)
							</span>
						</p>
						<p class="text-lg text-gray-700 font-semibold">
							Practical Abilities:
							<span class="text-md text-gray-700 font-normal italic">
								Data Analysis, Problem Solving, Algorithms, Data Structure, Collaboration, Object Oriented Programming (OOP), Adaptability, Time Management, Teamwork, Accountability
							</span>
						</p>
					</div>

					<!-- projects -->
					<h2 class="font-bold text-3xl text-blue-600 mb-2 mt-2">Projects</h2>
					<hr class="w-[100%] my-2 border-2 rounded-md border-blue-600" />
					<div>
						<h1 class="font-semibold text-lg text-gray-700 pb-1">
							Website & E-Portfolio (AstroHTML, TailwindCSS, JavaScript, MDX)
							<span class="text-right text-md text-gray-700 font-normal ml-[18rem] mb-1">
								Aug. 2023​- Current
							</span>
							<p class="text-sm text-gray-700 font-normal">
								A dynamic personal website and ePortfolio showcasing my Computer Science related projects, 
								skills, and abilities. Leveraging AstroHTML and TailwindCSS in order to construct a 
								visually appealing and rapidly loaded user experience.
							</p>
						</h1>

						<h2 class="font-semibold text-lg text-gray-700 pb-1">
							Stock Analysis and Predictor (Experimental)
							<span class="text-right text-md text-gray-700 font-normal ml-[30rem] mb-1">
								Apr. 2023​- Current
							</span>
							<p class="text-sm text-gray-700 font-normal">
								Currently developing a program that uses artificial intelligence to analyze historical 
								stock values and predict future values. The program incorporates machine learning algorithms 
								to identify trends and patterns in the data, which enables accurate predictions of future stock values.
							</p>
						</h2>

						<h3 class="font-semibold text-lg text-gray-700 pb-1">
							Encoder and Decoder (C)
							<p class="text-sm text-gray-700 font-normal">
								A robust encoder and decoder program, demonstrating proficiency in 
								memory management and bitwise operators. Created for efficient data encoding and decoding, 
								showcasing strong problem-solving and low-level programming skills.
							</p>
						</h3>

						<h4 class="font-semibold text-lg text-gray-700 pb-1">
							'NotCraft' (Java & LWJGL3/OpenGL)
							<p class="text-sm text-gray-700 font-normal">
								Created a Minecraft-like game using advanced 3D graphics programming techniques, 
								such as texture mapping, as well as implementing algorithms for world generation, 
								terrain generation, and object placement to create a fully interactive and immersive gaming experience.
							</p>
						</h4>

						<h5 class="font-semibold text-lg text-gray-700 pb-1">
							Survey Analyzer (Python)
							<p class="text-sm text-gray-700 font-normal">
								A practical application of Computer Science in a real-world project to assist in 
								sorting and interpreting results from a survey conducted for a course at RIT.
							</p>
						</h5>

						<h6 class="font-semibold text-lg text-gray-700">
							2048 (Java)
							<p class="text-sm text-gray-700 font-normal">
								Creation of the online game '2048' in Java, utilizing applets to handle 
								graphics rendering and keyboard inputs for gameplay.
							</p>
						</h6>
						
					</div>


					<!-- extracurricular experience -->
					<h2 class="font-bold text-3xl text-blue-600 mb-2 mt-2">Extracurricular Experience</h2>
					<hr class="w-[100%] my-2 border-2 rounded-md border-blue-600" />
					<div>
						<h1 class="font-semibold text-lg text-gray-700">
							Alpha Epsilon Pi, Rho Iota Chapter,
							<span class="text-md text-gray-700 font-normal italic"> Vice President, Secretary</span>
							<span class="text-right text-md text-gray-700 font-normal ml-[24rem] mb-1">
								Aug. 2023​- Current
							</span>
							<p class="text-sm text-gray-700 font-normal">
								Demonstrating exceptional leadership and cooperative skills by effectively managing 
								chapter operations, fostering strong relationships with members, and facilitating successful 
								fraternal events to benefit my community. My dedication to organizational excellence and 
								cooperation marks my commitment to personal and group growth.
							</p>
						</h1>
					</div>

					<!-- employment -->
					<h2 class="font-bold text-3xl text-blue-600 mb-2 mt-2">Employment</h2>
					<hr class="w-[100%] my-2 border-2 rounded-md border-blue-600" />
					<div>
						<h1 class="font-semibold text-lg text-gray-700 pb-1">
							RIT Dining Services,
							<span class="text-md text-gray-700 font-normal italic">
								Student Worker, 1 Lomb Memorial Dr, Rochester, NY 14623
							</span>
							<span class="text-right text-md text-gray-700 font-normal ml-[17rem] mb-1">
								Aug. 2023​- Current
							</span>
							<p class="text-sm text-gray-700 font-normal">
								Responsible for preparing and serving food and beverages, handling cash transactions,
								 maintaining a clean and organized concession stand, and providing excellent customer 
								 service to patrons at sports events, concerts, or other entertainment venues.
							</p>
						</h1>

						<h2 class="font-semibold text-lg text-gray-700 pb-1">
							Mount Southington,
							<span class="text-md text-gray-700 font-normal italic">
								Ski Instructor, 396 Mt Vernon Rd, Plantsville, CT 06479
							</span>
							<span class="text-right text-md text-gray-700 font-normal ml-[19rem] mb-1">
								Nov. 2019​- Current
							</span>
							<p class="text-sm text-gray-700 font-normal">
								Responsible for creating an engaging learning environment where students of all 
								levels can develop their skiing abilities, while also fostering socialization and 
								teamwork among co-workers. Additionally, ensuring safety on the slopes and providing 
								excellent customer service are key aspects of the role.
							</p>
						</h2>

						<h3 class="font-semibold text-lg text-gray-700 pb-1">
							FedEx,
							<span class="text-md text-gray-700 font-normal italic">
								Package Handler (Load), 49 FedEx Dr, Middletown, CT, 06457
							</span>
							<span class="text-right text-md text-gray-700 font-normal ml-[21rem] mb-1">
								May 2022​- Aug. 2022
							</span>
							<p class="text-sm text-gray-700 font-normal">
								Responsible for creating an engaging learning environment where students of all 
								levels can develop their skiing abilities, while also fostering socialization and 
								teamwork among co-workers. Additionally, ensuring safety on the slopes and providing 
								excellent customer service are key aspects of the role.
							</p>
						</h3>
					</div>

					
				</div> <!-- end of resume -->

			</div>
        </div>

		<!-- download button -->
		<div class="flex justify-center text-4x2" style="white-space: nowrap;">

			<a href="/public/assets/resume/Resume - Nicola Marino.pdf" download="Resume - Nicola Marino"
			class="transition px-2 py-2 w-64 text-slate-900 font-medium c-card block hover:shadow-xl rounded-lg overflow-shown md:hover:scale-[110%] hover:scale-[105%] hoverImgEffect">
				<!-- this needs to be separate so the emoji isnt a weird color -->
				<p class="text-blue-600 font-extrabold text-t-sm md:text-t-md lg:text-t-lg xl:text-t-xl pl-2">
					Download as .PDF
				</p>
			</a>
		</div>


    </main>

</DefaultLayout>
