---
import Footer from '../components/Footer.astro'
import '../styles/global.css'
---


<!--
	Page for my resume!! Woo!

	@Author: Cole Marino
	@Author: cole1.marino@gmail.com
-->



<!DOCTYPE html>
<html lang="en">
	<head>
	<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
			<title>Nicola Vittorio Marino</title>
		<link rel="stylesheet" href="/path/to/your/css/styles.css">

    <main>
        <!-- header! -->
		<head>
			<h1  style= "padding-top: 1.5%; text-shadow: 5px 5px black; color: white; text-align:center; font-size:600%; font-family:verdana;">
				<b>
					My Résumé 📄
				</b>

			</h1>
		</head>

        <!-- main -->
        <div style="padding-bottom: 5%;">
            <div class="flex items-center" style="margin: center; padding-left: 34%">
                <img src="../public/images/resume/RESUME.png" alt="Resume" width = 45%; height=45%; style = "pading-right: 5%; border-radius: 5%;" id="resumePNG">
            </div>
        </div>

        <!-- standard copyright info -->
        <Footer>

    </main>

</head>
