---
import DefaultLayout from '../layouts/DefaultLayout.astro'
---


<!--
	Page for my resume!! Woo!

	@Author: Cole Marino
	@Author: cole1.marino@gmail.com
-->



<!DOCTYPE html>
<DefaultLayout title={"Résumé"}>

    <main>
        <!-- header! -->
		<head>
			<h1  style= "padding-top: 1.5%; text-shadow: 5px 5px black; color: white; text-align:center; font-size:600%; font-family:verdana;">
				<div>
					<b>
						My Résumé 📄
					</b>
				</div>
				

			</h1>
		</head>

        <!-- main -->
        <div style="padding-bottom: 1%;">
            <div class="flex items-center" style="margin: center; padding-left: 34%">
                <img src="../public/images/resume/RESUME.png" alt="Resume" width = 45%; height=45%; style = "pading-right: 5%; border-radius: 5%;" id="resumePNG">
            </div>

			<!-- most recent version & download button -->
			<div style="padding-left: 34%; margin: center;">
				<i style="font-size: 16px; color: black;">
					*Last updated 7/22/2023
				</i>
			</div>
        </div>

    </main>

</DefaultLayout>
