---
import DefaultLayout from '../layouts/DefaultLayout.astro'
import ItemCard from '../components/ItemCard.astro'
import { getCollection } from 'astro:content';

const projects = (await getCollection('projects'))
  .filter((post) => !post.data.draft)
  .slice(0, 4);
---

<!--
	Shows what services I provide.

	@Author: Cole Marino
	@Author: cole1.marino@gmail.com
-->


<!DOCTYPE html>
<DefaultLayout title={"Services"}>
    <body>
        <head>
            <h1 class="mb-16" style= "padding-top: 1.5%; text-shadow: 5px 5px black; color: white; text-align:center; font-size:600%; font-family:verdana;">
                <b>
                    Services 👨🏻‍🔧
                </b>
            </h1>
        </head>


        <!-- Buffer line -->
        <div class="flex justify-center">
			<hr class="w-[90%] my-2 h-2 rounded-md bg-gradient-to-r from-blue-700 to-blue-800" />
		</div>

        <main class="md:p-4" style="font-family: Verdana;">
            <div class="mx-[10%] mb-8">

                <!-- Web Devlopment -->
                <div class="m-auto max-w-[90%]">
                    <h1 class="xs:text-tta-xm sm:text-tta-sm text-tta-md lg:text-tta-lg xl:text-tta-xl mb-2 underline">
                        <span class="bg-gradient-to-r from-blue-700 to-blue-800 text-transparent bg-clip-text font-extrabold">
                            Website Development
                        </span>
                    </h1>

                    <!-- Image and text -->
                    <div class="ml-16">
                        <div class="m-auto flex max-w-4xl md:max-w-none items-center gap-4 flex-col md:flex-row">
                            <!-- web development image 
                            <div class="scale-[75%] md:scale-[100%] lg:scale-[75%]">
                                <div class="m-auto md:hover:scale-[110%] hover:scale-[105%] block shadow-lg rounded-2xl hoverImgEffect">
                                    <a href="./contact">
                                        <img src="./images/services/webDev.png" alt="Website" class="rounded-2xl" id="websitePNG">
                                    </a>
                                </div>
                            </div>-->
                            <!-- align-text-top -->
                            <!-- Web development question text -->
                            <!-- 
                            <div class="xm:text-t-xm text-t-sm md:text-t-md lg:text-t-lg xl:text-t-xl w-[100%]" style="">
                                <h2><span class="h-72 bg-gradient-to-r  from-rose-600 to-violet-600 text-transparent bg-clip-text font-extrabold ">
                                        Want to represent your abilities online?</span>
                                        <br>
                                        <span class="h-72 bg-gradient-to-r  from-rose-600 to-violet-600 text-transparent bg-clip-text font-extrabold ">
                                        Need a simple showcase for your work?</span>
                                        <br>
                                        <span class="h-72 bg-gradient-to-r  from-rose-600 to-violet-600 text-transparent bg-clip-text font-extrabold ">
                                        Need development on existing scripts?</span>
                                </h2>
                            </div>-->

                            <!-- web development question solution text -->
                            <!-- 
                            <div class="xm:text-st-xm text-st-sm md:text-st-md lg:text-st-lg xl:text-st-xl  xm:mr-0 sm:mr-0 md:mr-[0%] lg:mr[15%] xl:mr-[15%]">
                                <p class="mt-4 sm:mt-2 xm:mt-2">
                                    <span class="font-semibold italic text-blue-800">I am here to help!</span>
                                    <div class="ml-4">
                                    <span class="text-gray-700 xm:text-st-xm text-st-xm md:text-st-sm lg:text-st-md xl:text-st-md">
                                    Creating a tailored website can be hard knowing where to start, and be very difficult to create for the uninitiated. 
                                    To avoid these hurdles, I'll be the one to leap them all for you!</span></div>
                                </p>
                            </div>-->
                        </div>
                        <!-- specific services -->
                        <div class="mt-4">
                            <!-- TODO: MAKE NEATER -->
                            <div>
                                <p1 class="xm:text-t-xm text-t-sm md:text-t-md lg:text-t-lg xl:text-t-xl bg-gradient-to-r from-blue-700 to-blue-800 text-transparent bg-clip-text font-bold">
                                    What I can do for you:
                                </p1>
                            </div>

                            <!-- What I can do for you description -->
                            <span class="text-4x2 md:hover:scale-[110%] hover:scale-[105%] hoverImgEffect" style="white-space: nowrap;">
                                <nav class="flex-wrap flex space-x-4 mb-4 mr-[10%] sm:mr-0 xm:mr-0 md:mr-0">
                                    {[
                                    ['🌟 ', 'Personal Branding: ', "Whether you're an artist, entrepreneur, or professional, I can build a unique online presence to showcase your talents."],
                                    ['💼 ', 'Portfolio Websites: ', "Need a stunning portfolio to highlight your work? I'll create a visually appealing, user-friendly showcase for your projects."],
                                    ['🚀 ', 'Web Development: ', "Have existing scripts or websites that need enhancement or debugging? I'm here to make your web apps run smoothly."],
                                    ['🎨 ', 'Custom Designs: ', "I believe in tailoring every website to suit your style and brand. Expect beautiful, custom-designed sites that stand out."],
                                    ['💬 ', 'Responsive Communication: ', "Your input matters. I'll keep you involved throughout the process, ensuring that your vision is brought to life."],
                                    ['🔧 ', 'Maintenance: ', "Once your site is up and running, I'll be here for ongoing maintenance and updates to keep it in top shape.   "],
                                    ].map(([emoji, type, desc]) => (
                                        <div class="mt-2 sm:mt=0 xm:mt-0">
                                            <p2 class="xm:text-center sm:text-center md:text-center ml-8 xm:ml-0 sm:ml-0 md:ml-0 xm:text-sst-xm text-sst-sm md:text-sst-md lg:text-sst-lg xl:text-sst-xl">
                                                {emoji}
                                                <span class="bg-gradient-to-r from-blue-700 to-blue-800 text-transparent bg-clip-text font-semibold">{type}</span>
                                                <div></div> <!-- this tabs the line down -->
                                                <span class="italic ml-10 xm:ml=0 sm:ml=0 md:ml=0">{desc}</span>
                                            </p2>
                                        </div>
                                    ))}
                                </nav>
                            </span>

                            <!-- contact me! -->
                            <div class="mt-8 xm:text-t-xm text-t-sm md:text-t-md lg:text-t-lg xl:text-t-xl bg-gradient-to-r from-blue-700 to-blue-800 text-transparent bg-clip-text font-semibold italic">
                                <p><a href='./contact/'><span class="underline bg-gradient-to-r from-blue-800 to-blue-900 text-transparent bg-clip-text text-4x2 hover:text-black hoverImgEffect">
                                        Contact me</span></a>
                                     today to discuss your project and turn your web dreams into reality!</p>
                            </div>

        <!-- 

        Ready to take the first step in establishing your online presence? Let's collaborate to bring your ideas to life.

        Contact Me today to discuss your project and turn your web dreams into reality!-->
                        </div>
                    </div>
                </div>
            

            </div>
        </main>
    </body>
</DefaultLayout>