---
---


<!--
	Standard footer for all pages. 
        Contains copytight info and nothing else.

	@Author: Cole Marino
	@Author: cole1.marino@gmail.com
-->


<!DOCTYPE html>
<html lang="en">

    <!-- copyright info -->
	<footer style = "text-align: center;">
		<p>&copy; 2023 Nicola Vittorio Marino. All rights reserved.</p>
	</footer>

</html>