---
import '../styles/sideBar.css'
const text = 'text';
const margin = 'margin';
const pages = ['🏠Home'];
---


<!-- creates style for the left bar -->
<style is:global>
    .text{
        color: rgb(224, 224, 224);
    }

    .margin{
        margin: left;
    }

    div{
        padding-left: 12%;
        font: bold;
        font-size: 28px;
        width: 12%;
        height: 100%;
        background: clear;
        white-space: nowrap;
        
    }
</style>

<nav class = "">
    <div class = "navigation">
        <div style = "text-align: left;">
            <div>
                <a href="/" class = {text, margin}>🏠 Home</a>
            </div>
            <div>
                <a href="/about/" class = {text, margin}>❓ About</a>
            </div>
            <div>
                <a href="/contact/" class = {text, margin}>📧 Contact</a>
            </div>
        </div>
        
    </div>

    <script>
        function doClick(page){
            if(window.location.href == page)
                return true;
            else
                return false;
        }
    </script>

    <!--
    <script>
        function openNav() {
            document.getElementById("nav").style.width = "250px";
            document.getElementById("nav").style.height = "100%";
        }
            
        function closeNav() {
            document.getElementById("nav").style.width = "0";
            document.getElementById("nav").style.height = "0";
        }
    </script>
    -->
    
</nav>