---
import DefaultLayout from '../../layouts/DefaultLayout.astro'
---


<!DOCTYPE html>
<DefaultLayout title={"Website Project"}>
    <body>
        <head>
            
        </head>


        <main>

        </main>
    </body>

</DefaultLayout>